extend ./component/index-template
mixin card-song(song, src)
    -var urlIconPlay = './icon/music/icon-play.png'
    .card-song
        .card-song-thumbnail
            img(src=`${urlThumbnail}${src}`, alt="")
        h1.card-song-title #{song}
        .card-song-play
            img(src= urlIconPlay, alt="")
block style
    +head('Music')
block content 
    -var artist = 'Stephen Soto'
    -var urlThumbnail = './img/music/song/'
    section.music
        .music-hero
            h1.music-hero-title #{artist}
        .music-list
            h1.music-title #{artist}
            +card-song('Misterio', 'song1.jpg')